<!DOCTYPE html>
<html>
<head>
    <title>NoteSync - Secure Access</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="login-box">
    <h1>NoteSync</h1>
    <p class="tagline">Secure Anonymous Editor</p>


    <form action="/open" method="POST">
    <input type="text" name="note_name" placeholder="Enter note name" required>
    
    <input type="password" name="password" placeholder="Enter password" required>
    
    <button type="submit">Open Note</button>
</form>

<!-- Show message -->
<p style="color:red;">
    {{ message }}
</p>

</div>

</body>
</html>
